<!--The content below is only a placeholder and can be replaced.-->
<h3>Hear Me</h3>
<ul>
  <li><a _ngcontent-c0="" href="../index">Home</a></li>
  <li><a href="about">About</a></li>
</ul>

<div id="test"></div>

<div id="imdiv">
    <img src="https://media.istockphoto.com/vectors/listen-symbol-isolated-on-white-background-vector-id686747560?k=6&m=686747560&s=612x612&w=0&h=NnxHerPgqfdeRBsVQ7alkiart1aU8AQYNo-p2vj3jOg=" alt="Logo">
  <h1>
    Welcome to {{ title }}
  </h1>
  <h2>A voice for those who need it</h2>
  <h2 class="about">Hear Me is an tool developed for users who are hearing impaired or struggle to speak over the telephone.</h2>
  <h2 class="about">Simply enter a telephone number and a message to be read by the system, and begin the call. Messages are</h2>
  <h2 class="about">read actively as you type them throughout the call.</h2>
</div>
